body {
    background-color: #0e6506;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Make the container fill the entire viewport height */
    margin: 0; /* Remove default body margin */
    position: relative;
}

canvas {
    background-color: #4eba6e;
    border: 5px solid #c5c1c1;
    position: absolute; /* or relative, fixed, etc. */
    top: 150px;
    left: 500px;
}

.text {
    font-size: 60px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    position: absolute; /* Position the text absolutely */
    top: 50px; /* Adjust the top position to move it down from the top */
    transform: translateX(-30%); /* Adjust to center the text horizontally */
    z-index: 1; /* Set a higher z-index to bring the text forward */
  }